<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center">Login</h2>
        <form (ngSubmit)="login(f)" #f="ngForm" class="login-form">
            <div class="form-group mb-4">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required>
            </div>
            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary">Log In</button>
            </div>
          </form>
      </div>
    </div>
  </div>